.spinner {
  display: inline-flex;
  color: var(--accent-blue);
}

.sm {
  width: 16px;
  height: 16px;
}

.md {
  width: 24px;
  height: 24px;
}

.lg {
  width: 40px;
  height: 40px;
}

.svg {
  width: 100%;
  height: 100%;
  animation: rotate 1s linear infinite;
}

.track {
  opacity: 0.2;
}

.indicator {
  stroke-dasharray: 60;
  stroke-dashoffset: 45;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
